@import url('https://fonts.googleapis.com/css?family=Lora:700|Open+Sans');

html, body {
    width: 100%;
    height: 100%;
    min-height: 100%;
}

body {
  background: url('/images/720bg.jpg') fixed;
  background-size: cover;
  background-color: rgb( 33 , 33 , 102 );
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

div.grid.container {
    height: 100%;
}

.header.lora {
    font-family: 'Lora', serif;
    letter-spacing: -.025em;
    font-size: 3.5em !important;
    color: rgb( 33 , 33 , 102 );
}

.header p {
    margin-bottom: .75em;
}

.header p span {
    background-color: rgb( 255 , 235, 0 );
    padding: .25em;
}

article {
    color: white;
    margin-top: 3em;
}

article p {
    margin-bottom: 2em;
}

article p br {
    line-height: 1.75em;
}

article a.signup {
    text-transform: uppercase !important;
    font-weight: bold;
    font-size: 1.25em;
    letter-spacing: -.0125em;
    font-family: 'Open Sans', sans-serif;
}

form div.field input {
    font-family: 'Open Sans', sans-serif !important;
}

form button.join {
    font-family: 'Open Sans', sans-serif !important;
    text-transform: uppercase !important;
}

#signup-form.loading {
    visibility: hidden;
}

#signup-form.loading:before {
    background-color: rgba( 0 , 0 , 0 , 0 ) !important;
}
